# LaTeX temporary files
*.aux
*.log
*.toc

# latexmk temporary files
*.fls
*.idx
*.ilg
*.ind
*.lof
*.fdb_latexmk
*.fls

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace

# Backup files
*~
*.backup
*.tex.backup